<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <dib class="col-md-6">
                    
                </dib>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Shastic is redefining how credit unions and banks apply technology across digital channels.
                        The SF-based fintech company provides productivity solutions for customer engagement, loan generation, AI, and Robotic Processing Automation (RPA) to meet the rising demand for digital banking services.
                    </h3>
                </div>
            </div>
        </div>
    </section>