<div id="contact" class="panel container-fluid">
    <div class="panel-body">
    
    <div class="row">
        <div class="col-md-12 text-center">
            <img style="height: 3em" src="{{ site.baseurl }}/img/logos/shastic-logo.png" alt="">
            <h2 class="section-heading">Join this Webinar</h2>
            <p class="section-subheading">See how to leverage SMS with MeridianLink LoansPQ and XpressAccounts to fund loans, increase membership, and improve the digital user experience.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                </div>

                <div class="control-group form-group">
                    <input type="text" class="form-control" placeholder="Your Last Name *" id="last_name" required data-validation-required-message="Please enter your last name.">
                    <p class="help-block text-danger"></p>
                </div>

                <div class="control-group form-group">
                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                </div>

                <div class="control-group form-group">
                    <input type="organization" class="form-control" placeholder="Your Organization *" id="organization" required data-validation-required-message="Please enter your Organization.">
                    <p class="help-block text-danger"></p>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12 text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-xl">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
